In [5]:
# =============================
# 1. Import library
# =============================
import pandas as pd

# =============================
# 2. Load dataset
# =============================
df = pd.read_csv("data/ObesityDataSet_raw_and_data_sinthetic.csv")

# Lihat 5 baris pertama
print("=== Head ===")
df.head()

=== Head ===

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [6]:
# =============================
# 3. Informasi umum dataset
# =============================
print("=== Info Data ===")
df.info()

=== Info Data ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [7]:
# =============================
# 4. Statistik deskriptif
# =============================
print("=== Deskripsi Statistik (Numerik) ===")
print(df.describe(), "\n")

print("=== Deskripsi Statistik (Kategorikal) ===")
print(df.describe(include="object"), "\n")

=== Deskripsi Statistik (Numerik) ===
               Age       Height       Weight         FCVC          NCP  \
count  2111.000000  2111.000000  2111.000000  2111.000000  2111.000000
mean     24.312600     1.701677    86.586058     2.419043     2.685628
std       6.345968     0.093305    26.191172     0.533927     0.778039
min      14.000000     1.450000    39.000000     1.000000     1.000000
25%      19.947192     1.630000    65.473343     2.000000     2.658738
50%      22.777890     1.700499    83.000000     2.385502     3.000000
75%      26.000000     1.768464   107.430682     3.000000     3.000000
max      61.000000     1.980000   173.000000     3.000000     4.000000

              CH2O          FAF          TUE
count  2111.000000  2111.000000  2111.000000
mean      2.008011     1.010298     0.657866
std       0.612953     0.850592     0.608927
min       1.000000     0.000000     0.000000
25%       1.584812     0.124505     0.000000
50%       2.000000     1.000000     0.625350
75%       2.477420     1.666678     1.000000
max       3.000000     3.000000     2.000000

=== Deskripsi Statistik (Kategorikal) ===
       Gender family_history_with_overweight  FAVC       CAEC SMOKE   SCC  \
count    2111                           2111  2111       2111  2111  2111
unique      2                              2     2          4     2     2
top      Male                            yes   yes  Sometimes    no    no
freq     1068                           1726  1866       1765  2067  2015

             CALC                 MTRANS      NObeyesdad
count        2111                   2111            2111
unique          4                      5               7
top     Sometimes  Public_Transportation  Obesity_Type_I
freq         1401                   1580             351

In [8]:
# =============================
# 5. Cek missing values
# =============================
print("=== Missing Values ===")
print(df.isnull().sum(), "\n")

# =============================
# 6. Cek jumlah nilai unik per kolom
# =============================
print("=== Unique Values per Column ===")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")
print("\n")

=== Missing Values ===
Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

=== Unique Values per Column ===
Gender: 2 unique values
Age: 1402 unique values
Height: 1574 unique values
Weight: 1525 unique values
family_history_with_overweight: 2 unique values
FAVC: 2 unique values
FCVC: 810 unique values
NCP: 635 unique values
CAEC: 4 unique values
SMOKE: 2 unique values
CH2O: 1268 unique values
SCC: 2 unique values
FAF: 1190 unique values
TUE: 1129 unique values
CALC: 4 unique values
MTRANS: 5 unique values
NObeyesdad: 7 unique values

In [9]:

# =============================
# 7. Distribusi kelas target (jika ada kolom label)
# =============================
target_col = "NObeyesdad"   # ganti jika nama kolom berbeda

if target_col in df.columns:
    print("=== Distribusi Target ===")
    print(df[target_col].value_counts())
    print("\n")

# =============================
# 8. Cek korelasi untuk fitur numerik
# =============================
numeric_df = df.select_dtypes(include=['int64', 'float64'])
print("=== Korelasi Numerik ===")
print(numeric_df.corr(), "\n")

# =============================
# 9. Cek outliers sederhana (IQR)
# =============================
print("=== Outlier Detection (IQR Method) ===")
for col in numeric_df.columns:
    Q1 = numeric_df[col].quantile(0.25)
    Q3 = numeric_df[col].quantile(0.75)
    IQR = Q3 - Q1
    outliers = ((numeric_df[col] < (Q1 - 1.5 * IQR)) | (numeric_df[col] > (Q3 + 1.5 * IQR))).sum()
    print(f"{col}: {outliers} outliers")

=== Distribusi Target ===
NObeyesdad
Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: count, dtype: int64


=== Korelasi Numerik ===
             Age    Height    Weight      FCVC       NCP      CH2O       FAF  \
Age     1.000000 -0.025958  0.202560  0.016291 -0.043944 -0.045304 -0.144938
Height -0.025958  1.000000  0.463136 -0.038121  0.243672  0.213376  0.294709
Weight  0.202560  0.463136  1.000000  0.216125  0.107469  0.200575 -0.051436
FCVC    0.016291 -0.038121  0.216125  1.000000  0.042216  0.068461  0.019939
NCP    -0.043944  0.243672  0.107469  0.042216  1.000000  0.057088  0.129504
CH2O   -0.045304  0.213376  0.200575  0.068461  0.057088  1.000000  0.167236
FAF    -0.144938  0.294709 -0.051436  0.019939  0.129504  0.167236  1.000000
TUE    -0.296931  0.051912 -0.071561 -0.101135  0.036326  0.011965  0.058562

             TUE
Age    -0.296931
Height  0.051912
Weight -0.071561
FCVC   -0.101135
NCP     0.036326
CH2O    0.011965
FAF     0.058562
TUE     1.000000

=== Outlier Detection (IQR Method) ===
Age: 168 outliers
Height: 1 outliers
Weight: 1 outliers
FCVC: 0 outliers
NCP: 579 outliers
CH2O: 0 outliers
FAF: 0 outliers
TUE: 0 outliers